
<div id="hero" class="hero-unit">
      <h1 class="intro">gigmarklet</h1>
      <h1 class="intro">\m/ </h1>
          <h4>gigmarklet is a simple way to track and save concerts and events you'd like to attend.</h4>
          <p>register (or login) to save events with a single click. drag the "gigmarklet" button below to your bookmarks toolbar and click it when you find an event you want to save.</p>
 <p>
        <a id="bookmarklet" class="btn btn-inverse btn-large" target="_blank" href="javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f= 'http://<%= request.host_with_port %>/gigmarklet',l=d.location,e=encodeURIComponent,p='?v=1&u='+e(l.href)%20+'&t='+e(d.title.replace(/^\s*|\s*$/g,''))%20+'&s='+e(s),u=f+p;location.href=u;">gigmarklet \m/</a>
        </p> <!-- localhost version of bookmarklet -->

       <p>
        <a id="bookmarklet" class="btn btn-inverse btn-large" target="_blank" href="javascript:var d=document,w=window,e=w.getSelection,k=d.getSelection,x=d.selection,s=(e?e():(k)?k():(x?x.createRange().text:0)),f= 'http://gigmarklet.herokuapp.com/gigmarklet',l=d.location,e=encodeURIComponent,p='?v=1&u='+e(l.href)%20+'&t='+e(d.title.replace(/^\s*|\s*$/g,''))%20+'&s='+e(s),u=f+p;location.href=u;">gigmarklet</a>
        </p> <!-- production version of bookmarklet -->

      <div id="add_url"> or, you can add an event manually via URL: <%= render :partial => 'shared/add_url' %>
      </div> <!-- end add_url -->
</div> <!-- ends hero unit -->

      <div class="row" id="features">

        <div class="span4 feature">
          <h3>works w/ popular event sites, including:</h3>
          <p>
            <ul>
              <li> <a href="http://www.ticketmaster.com/" target="_blank">Ticketmaster</a> </li>
              <li> <a href="http://www.ticketweb.com/" target="_blank">Ticketweb</a> </li>
              <li> <a href="http://www.livenation.com/" target="_blank">Live Nation</a> </li>
              <li> <a href="http://www.ticketfly.com/" target="_blank">TicketFly</a> </li>
              <li> <a href="http://www.eventbrite.com/" target="_blank">Eventbrite</a> </li>
              <li> <a href="http://www.seatgeek.com/" target="_blank">Seatgeek</a> </li>
              <li> <a href="http://www.axs.com/" target="_blank">AXS</a> </li>
            </ul>
         </p>
        </div> <!-- end span4 -->

        <div class="span4 feature">
          <h3>support coming soon for other sites:</h3>
          <p>
            <ul>
              <li>Stubhub</li>
              <li>Tickets.com</li>
              <li>Facebook Events</li>
              <li>Crowdsurge</li>
              <li>Frontgate</li>
            </ul>
          </p>
        </div> <!-- end span4 -->

        <div class="span4 feature">
          <h3> some of the gigmarklet bennies:</h3>
          <p>
            <ul>
              <li>a super simple way to save and track events you'd like to attend</li>
              <li>save events with a single click as you discover them on the web</li>
            </ul>
          </p>
        </div><!-- end span4 -->

      </div> <!-- end features section -->

<!--     <div class="row" id="suggestions">
      <div class="span6 suggest">
        Have a suggestion for a new feature?
      </div>

      <div class="span6 issues">
        Known Bugs and Issues
      </div>

    </div> --> <!-- end suggestions section -->

    <hr>


